<ion-header>
  <ion-toolbar>
    <ion-title>
      Identity Checker Test
    </ion-title>
    <!-- <ion-buttons slot="end" (click)="viewInfo()">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-row>
      <ion-col col-2>
        <img src="../../assets/id-card.png" width="128">
      </ion-col>
    </ion-row>
    <strong>Check your identity</strong>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Country</ion-label>
          <ion-select [(ngModel)]="newDocument.countryCode">
            <ion-select-option value="{{country.alphatre}}" *ngFor="let country of countryList.countries">{{country.name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="newDocument?.countryCode">
      <ion-col>
        <ion-item>
          <ion-label>Document Type</ion-label>
          <ion-select [(ngModel)]="newDocument.key" (ionChange)="selectDocument()">
            <ion-select-option value="{{doct.docKind+'-'+doct.docCode}}" *ngFor="let doct of documentsKind">{{doct.docKind}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-5 offset="1" *ngIf="selectedDocument?.frontAvbl">
        <a (click)="takePicture(true)" >
          <h3 class="front-catch-btn">Front</h3>
        </a>
      </ion-col>

      <ion-col col-5 offset="1" *ngIf="selectedDocument?.backAvbl">
        <a (click)="takePicture(false)" class="buttonCatchPict">
          <h3 class="front-catch-btn">Back</h3>
        </a>
      </ion-col>
    </ion-row>
  </div>
</ion-content>