.front-catch-btn{
    padding:35px 20px 20px 20px;
    background-color: rgb(97, 97, 211);
    border-radius: 100%;
    width: 100px;
    height: 100px;
    color:white;
  }

  #container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  ion-content{
    height: 100vh !important;
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }

  .buttonCatchPict{
background-image: url('../../assets/id-card.png');
background-position:center;
background-size:cover;
  }