<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="getBackScan()">
        <ion-icon name="barcode-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Client Information</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col col-2>
      <img src="{{clientInfo?.front?.data?.MRZdata.face_image}}">
    </ion-col>

    <ion-col col-10>
      <h2><b>FRONT</b></h2>
      <b>First Name: </b> {{clientInfo?.front?.data?.MRZdata.first_name}} <br>
      <b>Last Name: </b> {{clientInfo?.front?.data?.MRZdata.last_name}} <br>
      <b>ID Document: </b> {{clientInfo?.front?.data?.MRZdata.document_no}} <br>
      <b>DNI: </b> {{clientInfo?.front?.data?.MRZdata.dni}} <br>
      <b>Nationality: </b> {{clientInfo?.front?.data?.MRZdata.nationality}} <br>
      <b>Birthday: </b>
      {{clientInfo?.front?.data?.MRZdata.date_of_birth.substring(0,2)+'/'+clientInfo?.front?.data?.MRZdata.date_of_birth.substring(2,4)+'/'+clientInfo?.front?.data?.MRZdata.date_of_birth.substring(4)}}
      <br>
      <b>Genre: </b> {{clientInfo?.front?.data?.MRZdata.sex}} <br>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="clientInfo?.back">
    <ion-col>
      <h2><b>BACK</b></h2>


      <p>{{jsonedDataBackInfo}}</p>
    </ion-col>
  </ion-row>
</ion-content>